# ── Игровые ассеты ──
# (Оставил папки открытыми, чтобы структура была видна на GitHub)
# Если файлы внутри станут слишком тяжелыми, лучше использовать Git LFS
*.fbx
*.glb
*.obj
*.mp3
*.wav
*.ogg
*.png
*.jpg
*.jpeg
*.tga
*.dds

# ── Visual Studio build & Временные файлы ──
# Убрал [Bb]in/ и [Oo]bj/, так как они могут пересекаться с вашими папками
[Dd]ebug/
[Rr]elease/
x64/
x86/
.vs/
ipch/

# ── Компилятор ──
# Убрал *.lib, чтобы ваши зависимости в папке lib/ подгрузились
*.exe
*.ilk
*.pdb
*.ipdb
*.iobj
*.pch
*.exp
*.sbr
*.tmp

# ── VS файлы пользователя ──
*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.opendb
*.cachefile